@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Democracy</h1>
            <p class="lead">Voting system for a school.</p>
            @if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
            {
            <p class="lead">To use the system, please log in with Email and Password, if is it your first time, please register into system.</p>
            }
        </div>

        <div class="col-md-6">
            <img src="~/Content/Images/democracy1.jpg" style="width:500px; height:300px; max-width:100%; border-radius:.5em" />
        </div>
    </div>
</div>

<div class="row" style="text-align:center">
    <div class="col-md-4">
        <h2>My Setting</h2>
        <p>
            Change your personal Data and Password.
        </p>
       <img  src="~/Content/Images/settings.jpg" style="width:200px; height:200px; max-width:100%;border-radius:.5em "/>
        &nbsp;&nbsp;<br /><br />
        @Html.ActionLink("My Setting", "MySettings", "Users", new { }, new { @class = "btn btn-default" })
        

    </div>
    <div class="col-md-4">
        <h2>My Votings.</h2>
        <p>Vote for  the different Candidates.</p>
        <img src="~/Content/Images/vote.jpg" style="width:200px; height:200px; max-width:100%; border-radius:.5em" />
        &nbsp;&nbsp;<br /><br />
        @Html.ActionLink("My Votings", "MyVotings", "Votings", new { }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <p>See the  Votation Results.</p>
        <img src="~/Content/Images/result.jpg" style="width:200px; height:200px; max-width:100%; border-radius:.5em" />
        &nbsp;&nbsp; <br /><br />
        @Html.ActionLink("Results", "Results", "Votings", new { }, new { @class = "btn btn-danger" })
    </div>
</div>